fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
reportlab
openpyxl
python-dotenv
aiofiles
bcrypt
python-dateutil
psycopg2-binary==2.9.9; sys_platform != 'win32'